body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #2B283A;
}

/* TYPOGRAPHY */
h1 {
    font-size: 2.25rem;
    color: whitesmoke;
}

h2 {
    color: #451c7a;
    font-size: 1.75rem;
    margin-top: 0;
}

h3 {
    font-size: 1.25rem;
}

h1, h3 {
    margin: 0;    
}

p {
    line-height: 1.5;
}

.subheading {
    display: block;
    font-size: 1.25rem;
    color: #d0aaff;
}

.section-two h2 {
    color: inherit;
}

/* LINKS */
a {
    color: #EF5839;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #D4B44C;
}

/* BUTTONS */
.btn-dark {
    background: #5F29A3;
    color: whitesmoke;
}

.btn-mid {
    background: #F0E0FF;
}

.btn-light {
    background: whitesmoke;
}

.btn-mid, .btn-light {
    color: #5F29A3;
}

.btn {
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 4.6px;
    margin-right: 0.5em;
    margin-top: 1em;
}

.btn:hover,
.btn:active {
    background: #F3E885;
    color: #2B283A;
}

/* HEADER AND NAVIGATION */
header, section:nth-child(even) {
    background: #5F29A3;
}

/* LAYOUT */
header, 
section, 
footer {
    padding: 2.875em 0;
}

section:nth-child(even) {
    color: whitesmoke;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.section-two-img-container {
    display: flex;
    flex-direction: column;
}

/* IMAGES */

.main-img {
    width: 100%;
    max-width: 640px;
    display: block;
    margin: 0 auto 2em;
}

.feature-image {
    border-radius: 4.6px;
    margin-bottom: 1em;
}

/* FOOTER */
footer {
    text-align: center;
    color: #5F29A3
}

/* MEDIA QUERIES */
@media (min-width: 480px) {
    .section-two-img-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .feature-image {
        /* Setting img width to value just under 50% creates a small gap between them */
        width: 48.8%;
    }
}